.navbar-nav{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
}


#section1 {
	/*background-image: url('../img/tablet.jpg');*/
	/*background-size: 100%;*/
	/*background-repeat: no-repeat;*/
	background-color: #20abdf;
	width: 100%;
	color: #fff;
	margin-top: 50px;
}
#section2 {
	/*background-image: url('../img/parchment.jpg');
	background-size: cover;
	background-repeat: no-repeat;*/
	background-color: #ccc;
	width: 100%;
	height: 800px;
}
#section3 {
	/*background-image: url('../img/fire.jpg');
	background-size: cover;
	background-repeat: no-repeat;*/
	background-color: #222;
	width: 100%;
	/*height: 600px;*/
}
#section4 {
	/*background-image: url('../img/roots.jpg');
	background-size: cover;
	background-repeat: no-repeat;*/
	background-color: #ccc;
	width: 100%;
	height: 800px;
}
.slidedown {
	width: 0%;
	height: 0%;
	background-color: #f33;
	overflow: hidden;
	position: absolute;
}
.slidedown-img {
	width: 100%;
}

#tablet-img {
	position: relative;
	left: 50%;
	min-height: 687px;
	min-width: 1200px;
}
#title-text {
	position: absolute;
	z-index: 2;
	top: 35%;
	border: solid 2px #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 72pt;
	white-space: nowrap;
}
.my-images {
	/*max-width: 1200px;*/
}
.my-img {
	width: 100%;
	cursor: pointer;
}
.row > div {
	padding: 0px;
}

#sections {
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.arrow-band {
	position: relative;  /*  WHY WON'T YOU ACCEPT YOUR PARENT'S WIDTH!!!?!??! */
	top: -4.5vw;
	font-size: 0; /* stupidity. inline elements are forced to have
					spaces between them, so, we just made the
				 	font of these spaces 0  XO */
	overflow: hidden;
	white-space: nowrap;
	/*text-align: center;*/
	/*z-index: 2;*/
	width: 100%;
}
.arrow {
	display: inline-block;
	height: 5vw;
	width: 10%;
	/*margin: 0 auto;*/
	vertical-align: top;
	/*padding-left: 0px;*/
	/*border-left: 500px solid #888;*/
	/*border-right: 500px solid #888;*/

}
.arrow-filler {
	display: inline-block;
	background-color: #20abdf;
	height: 5vw;
	width: 45%;
}
.arrow-content {
	background-color: #20abdf;
	color: #fff;
	/*height: 200px;*/
	margin-top: -3vw;
	font-size: 24pt;
	font-weight: 200;
	font-family: 'Source Sans Pro', sans-serif;
	padding-bottom: 20px;
}



.shield {
	height: 0%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
	background-color: #000;
	cursor: pointer;
}
.shield-text {
	/*height: 100%;*/
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
	color: #fff;
	text-align: center;
	font-size: 48pt;
	display: none;
	cursor: pointer;
}

@media (max-width: 1200px) {
	.shield-text {
		font-size: 5.2vw;
	}
}
@media  (max-width: 768px) {
	.shield-text {
		font-size: 32pt;
	}
	/*#sections {
		max-width: 700px;
	}*/
}
@media (max-width: 400px) {
	.shield-text {
		font-size: 10.5vw;
	}
}


#birds-img > .shield {
	background-color: #a44;
}
#fishing-img > .shield {
	background-color: #28c;
}
#cuttherope-img > .shield {
	background-color: #5c5;
}
#portal-img > .shield {
	background-color: #f90;
}





#sliding_footer {
    width:100%;
    height:0px;
    background-color:#222;
    position:fixed;
    bottom:0;
    left:0;
    z-index: 2;
    color: #fff;
    font-size: 2em;
    padding-left: 20px;
    padding-right: 20px;
}